<div class="row">
  <div class="col-md-10">
    <h2>GitHub Repository</h2>
  </div>
</div>

<br/>

<ul class="list-group">
  <% @reposits.each do |repo| %>
    <li class="list-group-item">
      <a href="<%= repo.url %>"><%= repo.name %>     <%= repo.stars %></a>
    </li>
  <% end %>
</ul>

